/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* header */
header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
}