/* variables */
$size: 1280px;
$f-size-current: 1.3125rem;
$f-size-series: .8125rem;

/* color */
//text
$text-primary: #0282F9;
$text-secondary: #000000;
$text-tertiary: #ffffff;

// background
$bg-footer: #303030;
$bg-button: #ffffff;
$bg-current: #0282F9;
$bg-series: #1C1C1C;

// border
$br-primary: #0282F9;